<style>
    .renu{
        color: red;
    }
    .btn{
        padding: 5px 50px;
        background-color: rebeccapurple;
    }
</style>
<body>

<p class="renu">hiiiiiiiii</p>
{{!-- <button  => hiiiiii</button> --}}
<input type="button" class="btn" onclick="myfun()" value="qqqqq">

</body>
<script>
    function myfun(){
        console.log("byyyyy")
    }
</script>

